* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  min-height: 100vh;
  background-image: url('/src/assets/background-image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 1dvw;
  table-layout: fixed;
}

table,
th,
td {
  border: 2px solid white;
  text-align: center;
  width: 50px;
  aspect-ratio: 1/1;
  font-size: 50%;
  color: transparent;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.26);
}

.ship-container {
  text-align: center;
  align-items: center;
  background-color: rgba(230, 227, 225, 0.852);
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  width: 5rem;
  aspect-ratio: 1/0.8;
}

.ship-container img {
  max-width: 100%;
  max-height: 80%;
}

.ship-container p {
  font-size: 50%;
}

#player-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1dvw;
}

/* Drag and drop styles */

.hide-dragable,
.computer-table-container,
.hide-ship-container {
  display: none;
}

.drag-over {
  border: dashed 3px red;
}

.ship-position {
  background-color: green;
  color: green;
}

.reveal-computer-tabel-container {
  display: block;
}

.computer-table-container p,
.player-table-container p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #32808d;
  max-width: fit-content;
  margin: 0.2rem auto;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
  background-color: white;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.game-over-container p {
  color: white;
  margin-bottom: 20px;
}

.game-over-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-over-container button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 650px) {
  .player-ships-class {
    display: flex;
  }

  #player-details {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  table,
  th,
  td {
    width: 35px;
    aspect-ratio: 1/1;
  }

  .ship-container {
    width: 3.5rem;
    aspect-ratio: 1/0.8;
  }
}

@media screen and (max-width: 400px) {
  table,
  th,
  td {
    width: 8dvw;
    aspect-ratio: 1/1;
  }

  .ship-container {
    width: 2.8rem;
    aspect-ratio: 1/0.8;
  }
}
