* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  font-size: clamp(0.5rem, 1dvw, 1.5rem);
}

.main-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: max-content;
  margin: 1dvw;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  text-align: center;
  width: clamp(1.8rem, 4dvw, 3rem);
  height: clamp(1.8rem, 4dvw, 3rem);
}

.ship-container {
  text-align: center;
  align-items: center;
  background-color: rgba(230, 227, 225, 0.852);
  margin: 5px;
  padding: 5px;
  width: 120px;
  height: 90px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
}

#player-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1dvw;
}

.ship-container img {
  max-width: 100%;
  height: 50%;
}

/* Drag and drop styles */

.hide-dragable,
.computer-table-container,
.hide-ship-container {
  display: none;
}

.drag-over {
  border: dashed 3px red;
}

.computerCells,
.playerCells {
  color: white;
}

.ship-position {
  background-color: green;
  color: green;
}

.reveal-computer-tabel-container {
  display: block;
}

.game-over-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.game-over-container p {
  color: white;
  margin-bottom: 20px;
}

.game-over-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-over-container button:hover {
  background-color: #45a049;
}
